@inherits LayoutComponentBase

<div class="layout-wrapper">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    ¡Ocurrió un error inesperado GG!
    <a href="." class="reload">Recargar</a>
    <span class="dismiss">🗙</span>
</div>
