<div class="top-nav-container">
    <ul class="nav-bar">
        <li><NavLink href="" Match="NavLinkMatch.All">Inicio <span class="active-arrow"></span> </NavLink></li>
        <li><NavLink href="proyectos">Proyectos<span class="active-arrow"></span></NavLink></li>
        <li><NavLink href="skills">Habilidades<span class="active-arrow"></span></NavLink></li>
        <li><NavLink href="contacto">Contacto<span class="active-arrow"></span></NavLink></li>
    </ul>
    <div class="nav-logo">
        <img src="/images/LogoPersona5.png"
             class="logo-persona5"
             alt="Logo Gaming" />
    </div>
</div>